.wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
    grid-column-gap: .2em;
    grid-row-gap: .2em;

}
.wrapper div{
    background: gray;
    padding: 1em;
    border: 2px black solid;
}
.box1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
}
.box2 {
    grid-column-start: 2;
    grid-row: 2/3;
}
.box3 {
    grid-column: 3 / span 2;
    grid-row: 2/7;
}
.box4 {
    grid-column: 1 /span 2;
    grid-row: 3 /span 2;

}
.box5 {
    grid-column: 1 /span 5;
    grid-row: 6/span 2;
}